# SPDX-FileCopyrightText: 2024 Robin Seidl <robin.seidl@fau.de>
# SPDX-FileCopyrightText: 2024 The AMOS Projects
#
# SPDX-License-Identifier: MIT

# Node
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
pids
*.pid
*.seed
*.pid.lock

# Gradle
.gradle

# Java
.classpath

# Python
*.pyc
__pycache__/

# vscode
.vscode/
web-build/
dist/

# IDEA / IntelliJ
.idea/
out/

# Eclipse IDE
.project
bin/

# MacOS
.DS_Store

# Direnv
/.direnv

target

sbom.json

.codebuddy/
build