<?xml version="1.0" encoding="utf-8"?>

<!--
SPDX-FileCopyrightText: 2024 Felix Hilgers <felix.hilgers@fau.de>

SPDX-License-Identifier: MIT
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>